:root {
  --green: rgb(59, 218, 59);
  --main-color: rgb(255, 255, 108);
  --table-border: rgb(71, 71, 255);
  --table-bg: rgb(150, 241, 216);
}

* {
  color: #000;
}

main {
  height: 100vh;
  background-color: var(--main-color);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  color: var(--green);
  text-align: center;
}

header > ul > li {

}

table, td, th {
  background: var(--table-bg);
  border: 1px solid var(--table-border);
  color: #000;
}